@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@300;400;600&family=Noto+Sans+Display:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  box-sizing: content-box;
  max-width: 1149px;
  padding: 0 5px;
  margin: 0 auto;
}
@media (max-width: 1088px) {
  .container {
    max-width: 1139px;
    padding: 0 10px;
  }
}

.header {
  padding-top: 10px;
  margin-bottom: 68px;
}
@media (max-width: 425px) {
  .header {
    margin-bottom: 26px;
  }
}

.logo__link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 150%;
  color: #08A652;
}

.title .title__text {
  font-family: "Noto Sans Display", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #464646;
}
@media (max-width: 393px) {
  .title .title__text {
    text-align: center;
  }
}

.feedback-phone {
  font-family: "Noto Sans Display", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #262626;
}

.feedback-email {
  font-family: "Noto Sans Display", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #08A652;
  max-width: 80px;
  background-image: linear-gradient(to right, #08A652 10%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 8px 1px;
  background-repeat: repeat-x;
  transition-duration: 0.2s;
}
.feedback-email:hover {
  transition-duration: 0.2s;
  color: #116d3c;
  background-image: linear-gradient(to right, #116d3c 10%, rgba(255, 255, 255, 0) 0%);
}

.header-block .header-block__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px 20px;
}
@media (max-width: 953px) {
  .header-block .header-block__list {
    justify-content: center;
  }
}
.header-block .header-btn {
  width: 100%;
}
.header-block .header-btn .header-btn__link {
  width: 100%;
  max-width: 241px;
  display: block;
  font-family: "Noto Sans Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #464646;
  border: 1px solid #464646;
  border-radius: 8px;
  padding: 15px 39px;
  transition-duration: 0.2s;
}
.header-block .header-btn .header-btn__link:hover {
  transition-duration: 0.2s;
  background-color: #08A652;
  color: #FFFFFF;
}
@media (max-width: 416px) {
  .header-block .header-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.header-block .header-feedback a {
  display: block;
}

.main {
  flex: 1 1 auto;
}

.presentation {
  margin-bottom: 106px;
}
@media (max-width: 425px) {
  .presentation {
    margin-bottom: 53px;
  }
}

.presentation-block {
  display: flex;
  gap: 20px 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.presentation-block .presentation-form-container {
  padding-top: 25px;
}
.presentation-block .presentation-content {
  max-width: 659px;
}
.presentation-block .presentation-content .presentation-content__title {
  margin-bottom: 24px;
}
.presentation-block .presentation-content .presentation-content__title-text {
  font-family: "Noto Sans Display", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 120%;
  color: #08A652;
}
.presentation-block .presentation-content .presentation-content__title-text span {
  color: #262626;
}
@media (max-width: 425px) {
  .presentation-block .presentation-content .presentation-content__title-text {
    font-size: 32px;
    text-align: center;
  }
}
.presentation-block .presentation-content .presentation-content__description {
  margin-bottom: 42px;
}
.presentation-block .presentation-content .presentation-content__description-text {
  font-family: "Noto Sans Display", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 31px;
  color: #262626;
}
@media (max-width: 425px) {
  .presentation-block .presentation-content .presentation-content__description-text {
    text-align: center;
  }
}
.presentation-block .presentation-content .plus__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 19px;
}
@media (max-width: 1088px) {
  .presentation-block .presentation-content .plus__list {
    flex-direction: column;
    align-items: center;
  }
}
.presentation-block .presentation-content .item-high {
  min-height: 158px;
  padding: 22px 0 27px 0;
}
.presentation-block .presentation-content .item-short {
  min-height: 100px;
  padding: 22px 0;
}
.presentation-block .presentation-content .item-paint {
  background-color: #F5F5FF;
}
.presentation-block .presentation-content .plus__list-item {
  display: flex;
  width: 100%;
  max-width: 320px;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.presentation-block .presentation-content .plus__list-item-icon {
  padding-top: 3px;
  margin-right: 18px;
}
.presentation-block .presentation-content .plus__list-item-text {
  max-width: 206px;
  font-family: "Noto Sans Display", sans-serif;
  font-style: normal;
  font-weight: 250;
  font-size: 16px;
  line-height: 28px;
  color: #262626;
}
.presentation-block .presentation-content .plus__list-item-text span {
  font-weight: 600;
}
.presentation-block .presentation-form {
  background-color: #EFF3F6;
  border-radius: 8px;
  padding: 52px 65px 25px 65px;
}
@media (max-width: 425px) {
  .presentation-block .presentation-form {
    padding: 26px 32.5px 12.5px 32.5px;
  }
}
.presentation-block .presentation-form .form {
  width: 100%;
  max-width: 330px;
}
.presentation-block .presentation-form .form input {
  padding: 15px 25px 15px 25px;
  border-radius: 8px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  color: #464646;
  width: 100%;
}
@media (max-width: 425px) {
  .presentation-block .presentation-form .form input {
    padding: 15px 12.5px 15px 12.5px;
  }
}
.presentation-block .presentation-form .form__title {
  margin-bottom: 16px;
}
.presentation-block .presentation-form .form__title-text {
  font-family: "Noto Sans Display", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #262626;
}
.presentation-block .presentation-form .form__input {
  margin-bottom: 14px;
}
.presentation-block .presentation-form .form__input-title {
  font-family: "Noto Sans Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: #464646;
  margin-bottom: 10px;
}
.presentation-block .presentation-form .form__feedback {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  margin-bottom: 27px;
}
.presentation-block .presentation-form .form__feedback-title {
  max-width: 86px;
}
.presentation-block .presentation-form .form__feedback-title-text {
  font-family: "Noto Sans Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: #464646;
}
.presentation-block .presentation-form .form__feedback-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentation-block .presentation-form .form__feedback-link {
  position: relative;
  text-align: center;
  opacity: 0.5;
  cursor: pointer;
}
.presentation-block .presentation-form .form__feedback-link .checkbox {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  right: -6px;
  opacity: 0;
  cursor: pointer;
}
.presentation-block .presentation-form .form__feedback-link .checkbox-telegram {
  width: 65px;
  height: 60px;
  right: 0;
}
.presentation-block .presentation-form .link-telegram, .presentation-block .presentation-form .link-sms {
  padding-top: 3px;
}
.presentation-block .presentation-form .checked-link {
  opacity: 1;
}
.presentation-block .presentation-form .form__feedback-icon-name {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  color: #464646;
}
.presentation-block .presentation-form .form__btn {
  margin-bottom: 15px;
}
.presentation-block .presentation-form .form__btn button {
  font-family: "Noto Sans Display", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  background-color: #08A652;
  border-radius: 8px;
  padding: 15px 10px;
  width: 100%;
  transition-duration: 0.2s;
}
.presentation-block .presentation-form .form__btn button:hover {
  transition-duration: 0.2s;
  background-color: #116d3c;
}
.presentation-block .presentation-form .form__info-spam-text {
  font-family: "Noto Sans Display", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 150%;
  text-align: center;
  text-indent: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.answers {
  padding-bottom: 118px;
}
@media (max-width: 768px) {
  .answers {
    padding-bottom: 59px;
  }
}

.answers-title {
  padding-bottom: 66px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.answers-title .answers-title__text {
  font-family: "Noto Sans Display", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #262626;
}
@media (max-width: 425px) {
  .answers-title .answers-title__text {
    font-size: 32px;
  }
}

.accordionn {
  position: relative;
  display: flex;
  column-gap: 46px;
  color: #fff;
  cursor: pointer;
  padding: 30px 47px 35px 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 17px;
  line-height: 30px;
  transition: 0.2s;
}
@media (max-width: 425px) {
  .accordionn {
    column-gap: 23px;
    padding: 14px 47px 15px 10px;
  }
}
.accordionn .question-number {
  padding-top: 10px;
  font-family: "Noto Sans Display", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #08A652;
}
.accordionn .question {
  font-family: "Noto Sans Display", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
  color: #262626;
  padding-right: 5px;
}
@media (max-width: 425px) {
  .accordionn .question {
    font-size: 30px;
  }
}
@media (max-width: 375px) {
  .accordionn .question {
    font-size: 26px;
  }
}
@media (max-width: 320px) {
  .accordionn .question {
    font-size: 24px;
  }
}

.accordionn:after {
  content: "+";
  transition-duration: 0.2s;
  position: absolute;
  color: #262626;
  font-weight: 600;
  right: 20px;
  top: 45px;
  font-size: 45px;
}

.accordionn.active:after {
  content: "−";
  transition-duration: 0.2s;
  color: #08A652;
}

.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin: 0;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.panel .answer-list {
  padding-left: 48px;
}
.panel .answer-list .answer-list-item {
  list-style-position: inside;
  list-style-type: disc;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  color: #464646;
}

.panel > div {
  padding: 6px 10px;
}

.footer {
  padding-bottom: 121px;
}
@media (max-width: 425px) {
  .footer {
    padding-bottom: 60px;
  }
}

.footer-container {
  padding-top: 100px;
  background-image: url("../images/footer/shadow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 425px) {
  .footer-container {
    padding-top: 50px;
  }
}

.footer-top {
  padding-bottom: 52px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media (max-width: 425px) {
  .footer-top {
    padding-bottom: 26px;
  }
}
.footer-top .footer-top__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 20px;
}
@media (max-width: 1081px) {
  .footer-top .footer-top__list {
    justify-content: center;
  }
}
.footer-top .footer-btn {
  width: 100%;
}
.footer-top .footer-btn .footer-btn__link {
  display: block;
  font-family: "Noto Sans Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  padding: 15px 39px;
  background-color: #08A652;
  border-radius: 8px;
  transition-duration: 0.2s;
}
.footer-top .footer-btn .footer-btn__link:hover {
  transition-duration: 0.2s;
  background-color: #116d3c;
}
.footer-top .footer-feedback {
  display: flex;
  align-items: center;
}
.footer-top .footer-feedback a {
  display: block;
}
@media (max-width: 416px) {
  .footer-top .footer-feedback {
    flex-direction: column;
    align-items: center;
  }
}
.footer-top .footer-feedback .feedback-phone {
  margin-right: 42px;
}
@media (max-width: 416px) {
  .footer-top .footer-feedback .feedback-phone {
    margin-right: 0;
  }
}

.footer-bottom {
  padding-top: 45px;
}
@media (max-width: 425px) {
  .footer-bottom {
    padding-top: 20px;
  }
}
.footer-bottom .footer-bootom__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 20px;
}
@media (max-width: 683px) {
  .footer-bottom .footer-bootom__list {
    justify-content: center;
  }
}
.footer-bottom .footer-copyright {
  font-family: "Noto Sans Display", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #464646;
  opacity: 0.3;
}
.footer-bottom .footer-confidentiality {
  display: block;
  font-family: "Noto Sans Display", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 117%;
  color: #464646;
  opacity: 0.3;
  padding-bottom: 5px;
  background-image: linear-gradient(to right, #464646 10%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 8px 1px;
  background-repeat: repeat-x;
  transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.footer-bottom .footer-confidentiality:hover {
  transition-duration: 0.2s;
  opacity: 1;
}
.footer-bottom .footer-developed {
  font-family: "Noto Sans Display", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #111111;
}
.footer-bottom .footer-developed a {
  color: #1d726f;
  font-weight: 600;
  padding-bottom: 3px;
  background-image: linear-gradient(to right, #1d726f 10%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 8px 1px;
  background-repeat: repeat-x;
  transition-duration: 0.2s;
}
.footer-bottom .footer-developed a:hover {
  transition-duration: 0.2s;
  color: #fe7679;
  background-image: linear-gradient(to right, #fe7679 10%, rgba(255, 255, 255, 0) 0%);
}