@import url('https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@300;400;600&family=Noto+Sans+Display:wght@300;400;600&display=swap');

$Inter: 'Inter', sans-serif;
$Manrope: 'Manrope', sans-serif;
$Display: 'Noto Sans Display', sans-serif;
